<div class='info-container'>
  <p class='info-label'>{{label}}{{#if data}}:{{/if}}</p>
  <p class='info-data'>
    {{#if (isDate data)}}
    {{formatDateTime data}}
    {{else}}
    {{#if statusformat}}
    {{formatStatus statusformat data}}
    {{else}}
    {{data}}
    {{/if}}
    {{/if}}
  </p>
</div>