<a class="news-item-container" href="/posts/{{data.id}}">
  <div class="news-thumbnail-container zoom-hover">
    <img class="news-thumbnail" src="{{data.avatar_link}}" alt="Thumbnail" />
  </div>
  <div class="news-info">
    <h3 class="news-title">{{data.title}}</h3>
    {{!-- <h3 class="news-title">{{context}}</h3> --}}
    <p class="news-summary">
      {{data.summary}}
    </p>
  </div>
  <div class="news-tag">{{data.main_category.name}}</div>
  {{{createFooterForNewsItem context data.published_time}}}
</a>