<div class="news-detail-page">
  {{>header}}
  <div class="news-detail-main">
    <div class="news-detail-container">
      <div class="detail-thumbnail-container">
        <img class="detail-thumbnail" src="{{ post.avatar_link }}" alt="Detail thumbnail" />
      </div>
      <div class="detail-cate-and-date">
        {{>headline path-headline=true}}
        <div class="detail-date">{{formatDateTime post.updatedAt}}</div>
      </div>
      <h1 class="detail-title">{{ post.title }}</h1>
      <div class="detail-descriptions">
        {{{post.content}}}
      </div>
      <div class="detail-writer">{{ post.Writer.nickname }}</div>
      <div class="detail-tags-container">
        <i class="fa-solid fa-tags detail-tags-icon"></i>
        <div class="detail-tags">
          {{#each post.tags}}
          <a href="/posts?tag={{ id }}">{{ name }}</a> {{#unless @last}}/{{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</div>